# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists uses are:

1. Python
2. R
3. SQL
4. C++
5. Java etc..

Some of the commonly used libraries used by Data Scientists include:

1. TesorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. Scikit-Learn
8. PyTorch etc...

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TesorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular Languages for Data Science
* List popular Libraries for Data Science
* List of well known Data Science Tools 
* How to provide comments in the cell

## Author
Akshit Pathania